{% extends 'base.html' %}

{% block title %} Register - Grocery Store {% endblock %}

{% block content %}
    <div class="container-fluid row justify-content-center mt-3">
        <div class="col-6">
            <h1 class="text-center">Register</h1>
            <form action={{url_for('register')}} method="post" enctype="multipart/form-data">
                <div class="form-group mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="form-group col-6">
                        <label for="cpassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="cpassword" name="cpassword">
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email">
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="role-select" class="form-label">Select Role</label>
                        <select name="role" id="role-select" class="form-control">
                            <option value="customer">Customer</option>
                            <option value="store_manager">Store Manger</option>
                          </select>
                    </div>
                    <div class="form-group col-6">
                        <label for="image" class="form-label">Upload Image</label>
                        <input type="file" class="form-control" id="image" name="image">
                    </div>
                </div>
                <div class="form-group mb-3">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>  
                <div class="form-group mb-3">
                    <span> Already have an account? </span><a href={{url_for('login')}}>Login</a>
                </div>
        </div>
    </div>
{% endblock %}